#adminContainer{
    margin: 1%;
    justify-content: space-around;
}
#cardsTables{
    margin: 1%;
}
#cardsTitle{
    font-size: 20pt;

}

#icon1{
font-size: 20px;
}

li{
list-style: none;
}

#ustedEsta{
color: grey;
margin-bottom: 25px;}