#btn_guardarFecha{
    background-color: #e10b1c;
    border: none;
    border-radius: 5px;
    color: white;
}
#btn_guardarFechaDisabled{
    background-color: #6c6465;
    border: none;
    border-radius: 5px;
    color: white;
}