#HeaderContainer {
  background-color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20%;
  box-shadow: -1px 13px 27px -7px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: -1px 13px 27px -7px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: -1px 13px 27px -7px rgba(0, 0, 0, 0.82);
}
#logoTsoft {
  width: auto;
  min-height: 30px;
  height: 70px;
  margin: 0;
  padding: 0;
}
#btnToggleSidebar {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 8px;
  height: 30px;
  padding: 20px 5px 20px 5px;
  border-radius: 5px;
}
#tituloPaginaHeader {
  font-size: 35pt;
  margin: 0 1% 1% 6%;
  font-family: "Roboto Slab", serif;
  color: #e10b1c;
}
#logoCoe {
  margin: 1% 1% 1% 6%;
  width: auto;
  min-height: 60px;
  height: 75px;
}

@media screen and (max-width: 800px) {
  #HeaderContainer {
    display: flex;
    flex-direction: column;
  }
  #logoCoe {
    min-height: 60px;
    height: 60px;
  }
  #logoTsoft {
    width: auto;
    min-height: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
  }
  #tituloPaginaHeader {
    font-size: 25pt;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #e10b1c;
    text-align: center;
  }
}
