#cardContainer{
    align-items: center;
    margin-top: 2%;
    z-index: 0;
}
#cardContainer .card-title{
    text-align: center;
}
#containerAutomation{
    background-color: #f2f2f2;
    border: none;
}
#subCardsContainer{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 10px;
    margin: 1%;
}
#subcards{
    margin: 1%;
    font-family: "Roboto Slab", serif;
}
#subcards p {
    font-size: 40pt;
    text-align: center;
}
#progressHex{
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #f2f2f2;

}
.hexagono{
    width: 85%;
    margin-left: 8%;
}
