#cardContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

#maginCard{
    margin-bottom: 20px;
}

#titles {
  font-size: 30px;
  text-align: center;
}

#cardContainer .card-title {
  text-align: center;
}
#containerAutomation {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  border: none;
}
#subCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
  gap: 10px;
  margin: 1%;
}
#subcards {
  margin: 1%;
  font-family: "Roboto Slab", serif;
  font-size: 10px;
}
#subcards p {
  font-size: 40pt;
  text-align: center;
}
#progressHex {
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f2f2f2;
}
.hexagono {
  width: 60%;
  margin-left: 17%;
  text-align: center;
}
