#btnCursoListado{
    background-color: #e10b1c;
    border-color: white; 
    margin-left: 1px;
    border: none;
    border:#e10b1c solid 1px;
}

#btnCursoListado:hover{
    background-color: #ffffff;
    color: #e10b1c;
}

#datePickerContainer{
    display: flex;
    flex-direction: column;
}

#icons{
    font-size: 22px;
    margin-right: 13px;
    margin-bottom: 9px;

  }