#btnCurso{
    background-color: rgb(171, 165, 165);
    margin-left: 300px;  
    margin-bottom: -60px;
    margin-right: -150px;
    position: relative;
    border: none;
    padding: 7px;
    color: black;
    border-radius: 10px;

}

#btnCurso2{
    background-color: rgb(171, 165, 165);
    margin-left: 160px;  
    margin-bottom: -60px;
    margin-right: -150px;
    position: relative;
    border: none;
    padding: 7px;
    color: black;
    border-radius: 10px;
}

#datePickerContainer{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1300px) {
    #btnCurso{
        margin: 0 0 0 0;
        background-color: rgb(171, 165, 165);    
        border: none;
        margin-left: 127px;
        margin-bottom: 22px;
    }


}


@media screen and (max-width: 1300px) {
    #btnCurso2{
        margin: 0 0 0 0;
        background-color: rgb(171, 165, 165);    
        border: none;
        margin-bottom: 22px;
        margin-left: 5px;
    }


}
