#btn_resetFilters{
    display: none;
}
#btn_resetFilters.active{
    display: block;
    border: none;
    background: #e10b1c;
    color: white;
    border-radius: 5px;
    font-family: "Roboto Slab", serif;
    font-weight: 551;
    padding: 5px;
}
#btn_resetFilters.active:hover{
    color: #e10b1c;
    font-weight: 550;
    background-color: white;
    border: solid #e10b1c 1px;
    transition: all 200ms ease;
}
.reactSelect{
    width: 250px;
    margin-right: 4px;
}

