  #User_logo {
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    margin-left: 13px;
    
  }
  ul h4 {
    font-size: 14pt;
    color: #000;
    font-family: "Roboto Slab", serif;
    text-align: center;
    margin-right: 20px;
    padding-top: 10;
    justify-content: center;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li{
    color: #000(230, 230, 230);
    list-style: none;
    padding: 15px 10px;
    text-align: end;
    font-family: "Roboto Slab", serif;
  }
  
  ul li a {
    color: #000;
    text-decoration: none;
  }
  
  ul li ul li:hover {
    background-color: #000(230, 230, 230, 0.9);
    text-decoration: none;
  }
  ul li ul li:hover a {
    color: black;
    font-weight: 900;
  }
  
  #logout {
    font-family: "Roboto Slab", serif;
    position: relative;
    margin-left: 16px;
    top: 10px;
    font-size: 13pt;
    background-color: #e10b1c;
    color: #fff;
    font-weight: 500;
    border: solid #e10b1c 1px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  #logout:hover {
    color: #e10b1c;
    font-weight: 700;
    background-color: #fff;

  }
  
  #li_calendario,#li_home{
    color: black;
    font-weight: 700;
  }

  #li_Academia, #li_Colaboradores, #li_Asistencias {
    cursor: pointer;
    font-weight: 700;
  }
  
  #COE_Academia, #Colaboradores, #Asistencias {
    display: none;
  }
  #Asistencias.active {
    display: block;
    transition: all 300ms linear;
  }
  #COE_Academia.active {
    display: block;
    transition: all 300ms linear;
  }
  #Colaboradores.active {
    display: block;
    transition: all 300ms linear;
  }
  
  /*Scroll*/

  #sidebar::-webkit-scrollbar {
    -webkit-appearance: none;
    
  }
  
  #sidebar::-webkit-scrollbar:vertical {
    width:10px;
  }
  
  #sidebar::-webkit-scrollbar-button:increment,.card-body::-webkit-scrollbar-button {
    display: none;
  } 
  
  #sidebar::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  #sidebar::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }
  
  #sidebar::-webkit-scrollbar-track {
    border-radius: 10px;  
  }

  #containerElement{
    width: 200px;
    overflow-y: scroll;
  }

  /*Boton abrir sidebar*/
.buttonStyleOpen{
  position: absolute;
  right: 0;
  top:0;   
  border: none;
  background: #e10b1c;
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 7px;
  border: solid #e10b1c 1px;
}

.buttonStyleOpen:hover{
  color: #e10b1c;
  background-color: white;
}

/*Boton cerrar sidebar*/

.buttonStyleClose{
  border: none;
  background: #e10b1c;
  color: white;
  border-radius: 5px;
  margin: 1px;
  padding: 7px;
  border: solid #e10b1c 1px;
}

.buttonStyleClose:hover{
  color: #e10b1c;
  background-color: #fff;
}


