#sidebar {
    background-color: rgb(26, 25, 25);
    position: fixed;
    width: 200px;
    height: 100%;
    left: -200px;
    transition: all 300ms linear;
    overflow-y: scroll;
    border-radius: 0% 10px 20% 0%;
  }
  #User_logo {
    display: flex;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    width: 100px;
    margin-left: 36px;
  }
  ul h4 {
    font-size: 14pt;
    color: white;
    font-family: "Roboto Slab", serif;
    text-align: center;
    padding-top: 10;
    justify-content: center;
  }
  #toggle-btn {
    width: 30px;
    margin-left: 1%;
    cursor: pointer;
    background: none;
    border: none;
  }
  #toggle-btn span {
  
    align-items: center;
    cursor: pointer;
    font-size: 15pt;
    border: 2px solid #000;
    border-radius: 4px;  
    padding: 0px 5px 5px 5px;
  }
  #toggle-btn span:hover {
    transform: scale(1.2);
    background-color: #e10b1c;
    color: white;
    transition: all 300ms ease;
    border: 2px solid white;
  }
  #sidebar.active {
    left: 0px;
  }
  #sidebar ul {
    margin: 0;
    padding: 0;
  }
  #sidebar ul li {
    color: rgb(230, 230, 230);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    text-align: left;
    font-family: "Roboto Slab", serif;
  }
  
  #sidebar ul li a {
    color: rgba(230, 230, 230, 0.9);
    text-decoration: none;
  }
  
  #sidebar ul li ul li:hover {
    background-color: rgba(230, 230, 230, 0.9);
    text-decoration: none;
    transition: all 200ms linear;
    font-size: 14pt;
    transform: scale(1.25);
  }
  #sidebar ul li ul li:hover a {
    color: black;
    font-weight: 900;
  }
  
  #logout {
    font-family: "Roboto Slab", serif;
    position: relative;
    margin-left: 25%;
    top: 100px;
    font-size: 13pt;
    background-color: rgb(26, 25, 25);
    color: white;
    font-weight: 500;
    border: solid white 1px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  #logout:hover {
    color: black;
    font-weight: 700;
    background-color: #d1cdcd;
    transition: all 300ms ease;
  }
  
  #li_Academia, #li_Colaboradores, #li_Asistencias {
    cursor: pointer;
  }
  
  #COE_Academia, #Colaboradores, #Asistencias {
    display: none;
  }
  #Asistencias.active {
    display: block;
    transition: all 300ms linear;
  }
  #COE_Academia.active {
    display: block;
    transition: all 300ms linear;
  }
  #Colaboradores.active {
    display: block;
    transition: all 300ms linear;
  }
  
  #sidebar::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  #sidebar::-webkit-scrollbar:vertical {
    width:10px;
  }
  
  #sidebar::-webkit-scrollbar-button:increment,.card-body::-webkit-scrollbar-button {
    display: none;
  } 
  
  #sidebar::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  #sidebar::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }
  
  #sidebar::-webkit-scrollbar-track {
    border-radius: 10px;  
  }