#fondoTabla{
  border-radius: 2em; 
  background-color: #fff;
}

#icons{
  width: 18px;
  margin-right: 13px;
  margin-bottom: 9px;
}

#mainTable{
  justify-content: center;
  align-items: center;
  overflow:scroll;
  padding: 15px 20px;
  margin: 1em auto;
  margin-top: 1em;
}
#OperationBtns{
  font-size: 10pt;
  border: none;
  background: none;
}
#containerTablas{
  padding-top: 1em;
}
#paginador {
  display: flex;
  width: min-content;
  padding: 15px 10px 10px 0;
  flex-direction: row;
  list-style: none;
  margin: auto;
}
#paginador li {
  margin: 2px;
}
#paginador button {
  border: none;
  display: flex;
  width: 4ch;
  height: 4ch;
  align-items: center;
  justify-content: center;
  font-family: Monospace;
  font-size: 15px;
  border-radius: 50%;
  text-decoration: none;
  transition: all 300ms ease;
  background: #d1cdcd;
  color: black;
  font-weight: 600;
}
#paginador button:hover {
  transition: all 300ms ease;
  background: white;
  color: #e10b1c;
  border: solid #e10b1c 1px;
}
#paginador button.active {
  transition: all 300ms ease;
  background: #e10b1c;
  color: white;
}
